.card {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4rem 0 4rem;

  &__main {
    display: flex;
    justify-content: space-around;
  }
  &__wrapper {
    width: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3);
    &:hover{
        -webkit-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
    
    }
  }
  &__details {
    margin-left: 1rem;
  }
  &__title {
    font-size: 0.8rem;
  }
  &__price {
    font-size: 0.7rem;
  }
  &__address {
    font-size: 0.7rem;
  }
  &__feature {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    border-top: 0.7px solid grey;
    p {
      font-size: 0.7rem;
    }
  }
  &__image {
    width: 100%;
    height: 200px;
  }
}

.sliderbuttons{
    margin: 1rem 0 1rem 0 ;
}
