* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  	margin: 0; line-height: normal;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: black;
  }
:root {
  	
  	/* fonts */
  	--small-paragraph: Poppins;
  	
  	/* font sizes */
  	--small-paragraph-size: 0.83rem;
  	--paragraph-regular-size: 1rem;
  	
  	/* Colors */
  	--primary-colour: #3a0ca3;
  	--color-dimgray: rgba(109, 106, 117, 0.5);
  	--color-lightgray: rgba(212, 212, 212, 0.2);
  	--text-colour-4: #aaa;
  	--white: #fff;
  	--text-colour-3: #808080;
  	
  	/* border radiuses */
  	--br-12xs: 1px;
  	--br-xl: 20px;
  	
}

