.hero {
    padding: 4rem;
    border-bottom: 3px dashed rgba(0, 0, 0, 0.453);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image{
    width: 150px;
    height: 200px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 8px;
  }
}
