.hero {
  border-radius: 0px 0px 800px 800px;
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  &__wrapper{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }
  &__context {
    &-h2 {
      color: var(--Colour-1, #4361ee);
      font-family: Poppins;
      font-size: 19.4px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2.91px;
    }
    &-h3 {
      width: 580px;
      color: var(--Text-Colour-1, #0b090a);
      font-size: 57.3px;
      font-style: normal;
      font-weight: 600;
      line-height: 65px;
    }
    &-p {
      width: 580px;
      color: var(--Text-Colour-3, #808080);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }

  &__image {
    position: relative;
    &-svg{
      position: relative;
      bottom: 311px;
      left: 574px;
      z-index: -1;
    }
    &-image {
      border-radius: 20px;
    }
  }
}

.ellipse {
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 710px;
    height: 100px;
  }
  &__customer,
  &__property {
    img{
      margin-right: 10px;
    }
    width: 320px;
    height: 90px;
    padding: 0 34px;
    border-radius: 50px;
    background: var(--White, #fff);
    box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
