.header {
  height: 5rem;
  background-color: var(--white);
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 0;
  }
  &__ul {
    width: 429px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  &__logowrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logosvg {
    background-color: var(--primary-colour);
    border-radius: 50%;
    padding: 0.6rem;
  }
  &__account-ul {
    li {
      margin: 0 5px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  &__login {
    border: none;
    font-size: var(--h5-buttons-size);
    font-weight: 500;
  }
  &__logout,&__login,&__resgister {
    border: none;
    background-color: var(--white);
    font-size: var(--h5-buttons-size);
    font-weight: 500;
  }
  &__logoname {
    font-size: 1.25rem;
    font-weight: 600;
  }
  &__addproperty {
    background-color: var(--primary-colour);
    padding: 15px 18px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    width: 160px;
  }
  &__logo-addproperty {
  }
  &__logo-addlisting {
    font-size: var(--h5-buttons-size);
    font-weight: 500;
    color: var(--white);
    text-align: center;
  }
}

